.contactPage{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    max-width: 65rem;
}

#clients>h2{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1rem;
}

.description{
    font-weight: 300;
    font-size: 0.9rem;
    max-width: 55rem;
    padding: 0 2rem;
}

.companies{
    display: flex;
    justify-content: space-between;
    margin: 3rem 0.5rem;
    height: 6rem;
}